@charset "utf-8";
html {
    font-size: 12px;
    line-height: 1.5;
    font-family: tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif;
    background-color: #f4f4f4;
    color: #3c3c3c;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
p {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ul,
ol {
    list-style-type: none;
}

body {
    background-color: #c0c0c0;
}

.header {
    height: calc(36px + 121px + 30px + 522px);
    background-color: rgb(245, 245, 245);
}

.container {
    height: calc(368px + 70px + 538px + 290px + 522px + 962px + 5448px);
    background-color: rgb(255, 255, 255);
}

.footer {
    height: calc(310px + 180px);
    background-color: rgb(245, 245, 245);
}

.w1190 {
    width: 1190px;
}

.w990 {
    width: 990px;
}

.center-x {
    margin-left: auto;
    margin-right: auto;
}


/* 定义一组公共的浮动样式，谁需要谁套用：
      1.  .fl(float left左浮动的简写,注意小写的L不是数字1)，
      2.  .fr(float right右浮动的简写)
      3.  .fo(float overflow浮动防止塌陷的简写)
      4.  .claerfix::after清除浮动
*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fo {
    overflow: hidden;
}

.clearfix::after {
    /* 先在伪标签内添加一个长度为0的文字串 */
    content: "";
    /* 把本伪标签变性为块状元素，设置宽和高为0后就看不见了 */
    display: block;
    /* 设置块状元素(块状内容)的宽 */
    width: 0;
    height: 0;
    /* 从这个伪元素开始，前面的浮动不再影响后续标签的排版 */
    clear: both;
}

.hidden {
    display: none;
}