@charset "utf-8";
.top-nav-outter {
    height: 30px;
    line-height: 30px;
    /* line-height元素中行框的最小高度 */
    background-image: linear-gradient( to right, #ff9000 0, #ff5000 100%);
    /* background-image背景图像 linear-gradient 用线性渐创建变图像( to right  从左到右渐变, #ff9000 40%, #ff5000 100% ); */
    color: #fff;
    background-repeat: no-repeat;
}

.top-nav>ul>li {
    float: left;
    margin: 0 3px;
    padding: 0 4px;
}

.top-nav>h2 {
    width: 190px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 80, 0);
}

.top-nav>ul:nth-of-type(1) {
    font-size: 16px;
}

.top-nav>ul:nth-of-type(2) {
    font-size: 14px;
}

.top-nav>ul:nth-of-type(3) {
    font-size: 14px;
}

.top-nav-outter .top-nav a {
    color: #fff;
    padding: 0 5px;
    font-weight: 700;
    text-decoration: none;
    float: left;
}