@charset "utf-8";
.screen-outter {
    display: flex;
    height: 522px;
    /* 目测 */
    outline: 1px solid black;
}

.left-main {
    flex: 900 1 0;
    /* 目测 */
    outline: 1px solid red;
}

.right-col {
    flex: 290 0 0;
    /* 目测 */
    outline: 1px solid blue;
}

.screen-outter .left-main {
    display: flex;
}

.screen-outter .left-main .left-nav {
    flex: 190 0 0;
    padding-top: 6px;
    padding-bottom: 3px;
    /* 目测 */
    outline: 1px solid yellow;
}

.screen-outter .left-main .banner {
    flex: 520 0 0;
    margin: 10px 10px 0 10px;
    /* 目测 */
    outline: 1px solid red;
}

.screen-outter .left-main .adv {
    flex: 160 0 0;
    margin: 10px 10px 0 0;
    /* 目测 */
    outline: 1px solid blue;
}

.screen-outter .right-col>.user-info {
    height: calc(137px + 69.5px + 77px);
}

.screen-outter .right-col>.conve {
    height: 154px;
    border-top: 1px solid #f4f4f4;
}

.screen-outter .right-col>.app {
    height: 77px;
}

.screen-outter .right-col ul {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    /* 目测 */
    outline: 1px solid red;
}

.screen-outter .right-col ul>li {
    flex: 1 0 21%;
    border: 1px solid blue;
    border-left-color: transparent;
    border-top-color: transparent;
}