@charset "utf-8";
.top-outter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 7px 0;
    background-color: #fff;
    z-index: 0;
    /* 目测 */
    outline: 1px solid red;
}

.top-outter .w990 {
    height: 100%;
    display: flex;
    /* 目测 */
    outline: 1px solid blue;
}

.top-outter .w990 .logo-outter {
    height: 100%;
    width: 190px;
    display: inline-block;
    /* 目测 */
    outline: 1px solid black;
}

.top-outter .logo-outter>a {
    display: block;
    margin-bottom: 7px;
    height: 33px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/taobao.dw.png);
    /* 目测 */
    outline: 1px solid red;
}

.fixed-outter .top-outter input {
    flex: 1 0 0;
    /* 目测 */
    outline: 1px solid blue;
}

.fixed-outter .top-outter img {
    width: 40px;
    height: 40px;
    /* 目测 */
    outline: 1px solid black;
}

.fixed-outter .top-outter .right-indl-outter {
    position: fixed;
    width: 50px;
    height: 250px;
    z-index: 0;
    /* 目测 */
    outline: 1px solid red;
}


/* 停在版心右侧 */


/* .fixed-outter .top-outter .right-indl-outter {
        right: 50%;
        margin-right: calc(-1*(1190px/2 + 10px + 50px));
    } */


/* .fixed-outter .top-outter .right-indl-outter {
    right: calc(50% - (1190px/2 + 10px + 50px));
} */


/* 停在窗口中间 */


/* .fixed-outter .top-outter .right-indl-outter {
        /* 写法1 */


/* top: 50%;
        margin-top: -125px; */


/* 写法2 */


/* top: calc(50% - 125px); */


/* } */

.fixed-outter .top-outter .right-indl-outter {
    top: 50%;
    right: 50%;
    transform: translate(655px, -50%);
}

.top-outter .right-indl-outter>a {
    display: block;
    text-align: center;
    height: calc(100%/5);
    text-decoration: none;
    padding: 10px 8px 0 8px;
}