@charset "utf-8";
.test {
    height: 600px;
    width: 500px;
    /* 目测 */
    border: 1px solid black;
}

.test {
    background-image: url(../../阶段2/img/goods-1.jpg_.webp);
    /* background-repeat: no-repeat;
    background-size: 50% 80%; */
    /* background-repeat: repeat-x; */
    background-position: 500px 100px;
    background-repeat: no-repeat;
    border: 25px solid red;
    padding: 200px;
    margin: 150px;
}