@charset "utf-8";
body {
    margin: 0px;
    background-color:rgb(244, 244, 244);
}

img {
    display: block;
}
a{
    text-decoration: none;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}
.outter{
    width: 1120px;
    height: 845px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.content-left{
    width: 825px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}
.content-right{
    width: 274px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-d1{
    width: 800px;
    height: 200px;
    display: flex;
    background-color: #fff;
}
.yipai-out{
    width: 274px;
    height: 451px;
}
.show-img img{
    width: 400px;
    height: 200px;
}
.synopsis{
    width: 340px;
    height: 140px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.synopsis>a{
    height: 77px;
}
.card-bottom .card-left{
    display: flex;
    align-items: center;
}
.synopsis .card-bottom{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.synopsis .list{
    font-weight: 600;
    font-size: 20px;
    height: 57px;
    margin-bottom: 20px;
    color: #292525;
    line-height: 1.4
}
.card-bottom .card-left img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}
.card-right i{
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
.card-right .icon-1{
    background-image: url(img/img3.png);
}
.card-right .icon-2{
    background-image: url(img/img4.png);
}
.card-right{
    display: flex;
    justify-content: center;
}
.card-right div{
    display: flex;
    justify-content: center;
}
.content-right .img-outter img{
    width: 274px;
    height: 150px;
    border-radius: 2px;
}
.yipai-out{
    width: 226px;
    height: 427px;
    background: #fff;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.yipai-out .bgi{
    background-image: url(img/img7.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 40px;
}
.yipai-content{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.yipai-content .left .top{
font-size: 14px;
line-height: 20px;
margin-bottom: 8px;
width: 147px;
height: 40px;
}
.yipai-content .left .bottom{
    display: flex;
    align-items: center;
}
.yipai-content .left .bottom i{
    display: block;
    background-image: url(img/img8.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.yipai-content .left .bottom span{
    color: #655e5e;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
.yipai-content .right img{
    width: 63px;
    height: 44px;
    border-radius: 4px;
}
.yipai-out>a{
    padding: 16px 0;
    line-height: 20px;
    color: #8e8787;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.yipai-out>a:hover{
    color: #000;
}
@font-face{
    font-family: dayuhao;
    src: url(iconfon-2.ttf);
}
.yipai-out>a>i{
    font-family: dayuhao;
    font-size: 16px;
    font-style: normal;
}